<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzs.pet.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.zzs.pet.domain.Post">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="imgs" column="imgs" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="petType" column="pet_type" jdbcType="VARCHAR"/>
        <result property="addressId" column="address_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,
        cover_img,content,pet_type,
        address,create_time,update_time
    </sql>
    <select id="getPostList" resultType="com.zzs.pet.domain.Post">
        select post.*,
        (select count(*) from pet.favorites where post_id = post.id and post.user_id = #{postListRequest.myUserId}) as isFavorite,
        (select count(*) from pet.likes where post_id = post.id and post.user_id = #{postListRequest.myUserId}) as isLiked
        from post
        left join pet.favorites f on post.id = f.post_id
        left join pet.likes l on post.id = l.post_id
        <where>
            <if test="postListRequest.userId != null">
                post.user_id = #{postListRequest.userId}
            </if>
            <if test="postListRequest.type != ''">
                and pet_type = #{postListRequest.type}
            </if>
            <if test="postListRequest.keywords != ''">
                and (post.title like concat('%',#{postListRequest.keywords},'%') or post.address like
                concat('%',#{postListRequest.keywords},'%'))
            </if>
        </where>
    </select>
    <select id="selectHotPost" resultMap="BaseResultMap">
        select post.*
        from post
        left join orders on orders.post_id = post.id
        order by orders.create_time desc, post.create_time desc
    </select>
</mapper>
